<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comments</title>
</head>

<body>
    <h1>Make a new comments</h1>
    <form action="/comments" method="POST">
        <section>
            <label for="username">Enter a username:</label>
            <input type="text" name="username" id="username" placeholder="enter your username">
        </section>
        <section>
            <label for="comment">Comment Text</label>
            <br>
            <textarea id="comment" cols="31" rows="5" name="comment"></textarea>
        </section>
        <button>submit</button>
    </form>
    <br>
    <a href="/comments">go to comment page</a>
</body>

</html>